.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-bar h1 {
    color: rgb(3, 41, 121);
    background: url("./images/cloud-image.jpg");
    background-position: center;
    background-size: 200%;
}

.header-bar input {
    width: 100px;
    margin-top: 22px;
    padding: 12px;
    /*border: rgb(0, 81, 255);*/
}