.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.heading-image {
    background: url("./images/cloud-image-2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.header-bar h1 {
    color: rgb(3, 41, 121);
    padding: 35px 0px 20px 4px;
}


.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/sun.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.header-bar input {
    width: 100px;
    margin-top: 56px;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(254, 254, 234);
}

.button-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
}

button {
    background-color: rgb(252, 252, 174);
    display: block;
}

.submitbtn:hover {
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(252, 252, 174);
    min-width: 100px;
    z-index: 1;
  }

  .dropdown-content button {
    color: black;
    padding: 5px 10px 5px;
    text-decoration: none;
    display: block;
    text-align: right;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    margin-right: 28px;
  }

  /* for cloudy weather */
  .current-weather-cloud {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    color: rgb(3, 41, 121);
    background-color: rgb(239, 242, 251);
    border: 2px solid rgb(3, 41, 121);
    border-radius: 30px;
    text-align: center;
  }

  /* for sunny weather */
  .current-weather-sun {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    color: rgb(250, 173, 20);
    background-color: rgb(254, 254, 234);
    border: 2px solid rgb(250, 173, 20);
    border-radius: 30px;
    text-align: center;
  }

  .current-weather {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
  }

  .current-weather-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    flex-wrap: wrap;
    padding: 25px;
  }

  .current-cloudy {
    padding-top: 20px;
  }

  .current-temperature {
    padding-top: 20px;
  }

  .current-humidity {
    padding-top: 20px;
  }

  .current-wind-speed {
    padding-top: 20px;
  }

  .future-weather {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .five-days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 0px 50px 0px 50px;
  }

  .day-1 {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    min-width: 100px;
    min-height: 100px;
  }

  .day-2 {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    min-width: 100px;
    min-height: 100px;
  }

  .day-3 {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    min-width: 100px;
    min-height: 100px;
  }

  .day-4 {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    min-width: 100px;
    min-height: 100px;
  }

  .day-5 {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    min-width: 100px;
    min-height: 100px;
  }

@media (max-width: 530px) {
    .header-bar h1 {
        font-size:150%;
        margin-top: 10px;
    }

    .heading-image {
        margin-top: 10px;
    }

    .header-bar input {
        width: 80px;
        margin-top: 50px;
        font-weight: lighter;
    }

    .button-column {
        margin-top: 50px;
    }
}

/* @media (max-width: 320px) {

} */