.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.heading-image {
    background: url("./images/cloud-image-2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.header-bar h1 {
    color: rgb(3, 41, 121);
    padding: 35px 0px 20px 4px;
}

.header-bar input {
    width: 100px;
    margin-top: 56px;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    /*border: rgb(0, 81, 255);*/
}

button {
    background-color: rgb(252, 252, 174);
    display: block;
}

button:hover {
    font-weight: bold;
}

@media (max-width: 530px) {
    .header-bar h1 {
        font-size:150%;
        margin-top: 10px;
    }

    .heading-image {
        margin-top: 10px;
    }

    .header-bar input {
        width: 80px;
        margin-top: 50px;
        padding: 8px;
        font-weight: lighter;
    }
}

/* @media (max-width: 320px) {

} */